
/****** Object:  Database [ManagerContact]    Script Date: 7/18/2023 11:37:27 AM ******/
CREATE DATABASE [ManagerContact]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagerContact', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManagerContact.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManagerContact_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManagerContact_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagerContact].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagerContact]
GO
/****** Object:  Table [dbo].[DSContact]    Script Date: 7/18/2023 11:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSContact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[ContactNumber] [nvarchar](20) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[HireDate] [date] NOT NULL,
	[Birthday] [date] NOT NULL,
 CONSTRAINT [PK_DSContact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
